body {
  background-color: #eee;
}

input[type='submit'] {
  display: block;
  margin: .5em 1em;
  background-color: #e48d48;
  height: 2em;
  border-radius: .5em;
  color: #fff;
}

input[type='text'], input[type='email'] {
  display: block;
  height: 2em;
  border-radius: .5em;
  width: 80%;
}

main {
  margin: 1em 2em;
}
