@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html{
    height: calc(100% - 2em);
    margin: 0;
    background-color: #e3e5e9;
    font-family: Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside {
    display: grid;
    grid-template-columns: auto 40px;
    padding: 1em;
    background-color: #3b5998;
    /* white-space: nowrap; */
}

figure {
    margin: 0;

}

figcaption {
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    /* white-space: nowrap; */
}

#menu-bar {
    float: right;
    color: #fff;
    cursor: pointer;
}

.active {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    /* background: #3b5998; */
    margin: 0;
    height: 100%;
    background-color: rgba(59, 89, 152, 0.97)
}

nav ul {
    margin: 0;
    padding: 0;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: aliceblue;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    /* background-color: rgb(255, 255, 255, .35); */
    padding: 1.5em 1em;
    text-align: center;
    font-size: 1em;
}

nav ul li a:hover {
    background: #e48d48;
    color: white;
}

/* nav ul li.sos a {
    display: block;
    padding: 1em;
    text-transform: capitalize;
} */

h1, h6 {
    padding: 1em .8em;
    margin: 0;
}

p {
    line-height: 1.5em;
    font-size: 1.3em;
    padding: 5px 1em;
}

h6 {
    font-size: 1.5em;
}

.btn {
    display: block;
    background: #e48d48;
    color: #fff;
    padding: .7em;
    margin: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-danger {
    display: block;
    background: #e48d48;
    color: #fff;
    padding: .7em;
    margin: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn:hover {
    color: #3b5998;
    
    background-color: #fff;
}

.btn-danger:hover {
    color: white;
    background-color: red;
}

p#lorem {
    padding: 1em;
    line-height: 1.5em;
}

#menu-exit:hover {
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu-exit {
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
}

/* Style for cas-credit.html */
.cta-btn {
    display: block;
    width: 30%;
    margin: 1em auto;
    text-align: center;
    height: 2.0em;
   
}

input[type='number'] {
    border-radius: 5px;
    height: 2em;
    width: 50%;
}
/* Styke for stf-del.html */

.del {
    border: .1em solid red;
    display: block;
    color: red;
    padding: .7em;
    margin: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.del:hover {
    background-color: red;
    color: white;
}

.heading {
    display: block;
    font-weight: bold;
    font-size: 120%;
    margin: 1em 0;
}


@media only screen and (min-width: 480px) {
    body {
        display: grid;
        grid-template-columns: 20% auto;
        /* padding: 2em; */
    }

    aside {
        grid-template-columns: auto;
        grid-template-rows: 40% auto;
        padding: 0;
        /* background-color: red; */
        /* border-right: .1em solid blue; */
        background-color: #3b5998;
    }

    #thename {
        text-transform: capitalize;
    }

    #avatar {
        border-radius: 50%;
        background: white;
        width: 100px;
        height: 100px;
        margin: 2em auto;
        cursor: pointer;
    }

    .profile-pic {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
        border-radius: 50%;
    }

    figcaption {
        cursor: pointer;
        text-align: center;
        margin: .5em;
        /* background: yellow; */
        color: #fff;
    }

    nav ul li a {
        text-transform: capitalize;
        display: block;
        padding: 10px;
        text-align: left;
    }

    #menu-exit {
        display: none !important;
    }

    #menu-bar {
        display: none !important;
    }

    .btn, .btn-danger {
        margin: 1em 0 0 1em;
        padding: 10px;
        display: inline;
        text-transform: capitalize;
        background-color: #e48d48;
    }

    nav ul {
        display: block;
        position: relative !important;
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

    }

    .heading {
        display: block;
        font-weight: bold;
        font-size: 120%;
        margin: 1em 0;
    }

    main {
        margin-left: 2em;
    }

    /* nav ul li.sos a {
        display: none !important;
    }

    p.sos {
        display: none;
    } */
}
