body {
  background-color: #eee;
}

input[type='text'], input[type='email'] {
  display: block;
  height: 2em;
  border-radius: .5em;
  width: 70%;
}

main {
  margin: 1em 2em;
}

.label {
  cursor: pointer;
}

select {
  width: 70%;
  border-radius: .5em;
  height: 2em;
}

a.btn {
  display: block;
  border-radius: .5em;
  width: 10%;
}

@media only screen and (max-width: 480px) {
  a.btn {
    width: 30%;
  }
}
