main {
    background-color: #eee;
}

div.form-ctnr {
    width: 70%;
    margin: 1em auto;
}

input[type='text'] {
    padding-left: 2px;
    border-radius: 5px;
    height: 1.5em;
}

select {
    border-radius: 5px;
    height: 1.5em;
}

@media only screen and (max-width: 768px){
    main {
        display: flex;
        flex-flow: column nowrap;
        padding: 1em;
    }
}