body{
    margin: 0;
    padding: 0;
}

main h2, h5 {
    padding: 1em;
}

main h5 {
    font-size: 1em;
}

div.acct-info h3, h4{
    display: inline;
}

.acct-info {
    padding: 1em;
    line-height: 1.5;
    margin: 1em;
}

/* nav{
    width: 100%;
    margin: 0;
    height: 10%;
    padding: 0;
    white-space: nowrap; 
}

nav ul{
    overflow: hidden;
    background-color: #eee;
    padding: 0;
    margin: 0;  
}

ul.nav-ul li{
    text-decoration: none;
    list-style: none;
    float: left;
    
}

ul.nav-ul li.nav-right{
    float: right;
}

ul.nav-ul li a {
    margin: 5px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    text-align: center;
    color: #0000cd;
    font-size: 16px;
    padding: 10px;
}

ul.nav-ul li a:hover{
    color: white;
    background: #0000cd;
    border-radius: 2px;
}

ul.nav-ul li.menu-bar {
    display: none;
}

#f::after{
    clear: both;
} */




/* @media screen and (max-width: 680px) {
    ul.nav-ul li:not(:nth-child(1)) {
        display: none;
    }

    ul.nav-ul li.menu-bar {
        display: block;
        float: right;
    }

    ul.nav-ul.responsive {
        position: relative;
        height: 100%;
    }

    ul.nav-ul.responsive li {
        display: inline;
        float: none;
    }

    ul.nav-ul.responsive li a {
        display: block;
        text-align: center;
        height: 100%;
    }

    ul.nav-ul.responsive li.menu-bar {
        position: absolute;
        top: 0;
        right: 0;
    }

} */
