a.cta-btn {
    text-decoration: none;
    background-color: #0000CD;
    color: white;
    padding: .5em;
    border-radius: 5px;
}

.acct-info {
    padding: 1em;
    line-height: 1.5;
    margin: 1em;
}

main h2, h5 {
    padding: 1em;
}


main h5 {
    font-size: 1em;
}

div.acct-info h3, h4{
    display: inline;
}

input[type='number'] {
    border-radius: 5px;
    height: 2em;
}

.amt-label {
    display: inline;
    font-weight: bold;
}