@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 75% 5% 10%;
    grid-template-areas: 
        "logo"
        "form"
        "sos"
        "footer";
    /* background-color: #eee; */
    min-height: 500px;
    background: url('https://source.unsplash.com/RYyr-k3Ysqg/1400x700') no-repeat center center fixed;
    font-family: Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    grid-area: logo;
    color: #3b5998;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    margin: 1em auto;
    font-size: 120%;
    display: block;
    font-weight: bold;
}

.sos {
    grid-area: sos;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    /* width: 60%; */
    grid-area: form;
    background: rgba(255, 255, 255, .90);
    border: .1em solid grey;
    margin: 5px auto;
    padding: 1em 2em;
    border-radius: .5em;

}

.login-prompt {
    display: block;
    font-style: normal;
    margin: .5em 0 1em 0;
}

/* .form-ctnr {
    width: 90%;
    margin: 1em auto;
} */

.subBtn {
    /* width: 2em; */
    margin: 1em auto;
    text-decoration: none;
    display: block;
    padding: .5em;
    text-align: center;
    border-radius: .5em;
}

.subBtn:hover {
    background-color: #e48d48;
    color: white;
}

footer {
    grid-area: footer;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

a.bannr {
    /* text-align: center; */
    font-weight: bold;
    padding: .5em;
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
    color: #3b5998;
    font-size: 2em;
}

input[type='password'], input[type='text']  {
    display: block;
    height: 2em;
    padding-left: 2px;
    margin: .5em 0 1.5em 0;
    width: 90%;
}

.reg-sec {
    border-top: 2px solid #eee;
    display: flex;
    align-items: centre;
    justify-content: center;
    height: 10%;
    padding: 1em 0;
}

.foot-elt {
    margin: .5em 4em;
    font-size: 14px;
}

.foot-elt ul {
    padding: 0;
    margin: 0;
}

.foot-elt ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

em.reg-msg {
    padding: 1em;
    text-align: center;
}


/* #menu-bar {
    float: right;
    font-style: normal;
    cursor: pointer;
    padding: 1em;
}

.active {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    background: rgb(74, 133, 168);
    margin: 0;
    height: 80%;
} */

/* nav ul {
    margin: 0;
    padding: 0;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: aliceblue;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, .35);
    padding: 1.5em 3em;
    text-align: center;
    font-size: 1.5em;
}

nav ul li a:hover {
    background: whitesmoke;
    color: black;
}

ul.nav-ul li a:hover{
    color: white;
    background: #0000cd;
    border-radius: 2px;
}

ul.nav-ul li.menu-bar {
    display: none;
}  */

@media only screen and (max-width: 480px){
    /* #menu-bar, .active {
        display: none !important;
    } */

    /* nav ul {
        overflow: hidden;
        background-color: #eee;
        padding: 0;
        margin: 0;
        display: block;
        height: 100%;
        width: 100%;
    }

    ul.nav-list li{
        list-style: none;
        float: left;
    }

    a.signup {
        float: right !important;
    }

    ul.nav-list li a {
        margin: 5px;
        text-decoration: none;
        display: block;
        text-transform: capitalize;
        text-align: center;
        color: #0000cd;
        font-size: 16px;
        padding: 10px;
    }

    ul.nav-list li a:hover{
        color: white;
        background: #0000cd;
        border-radius: 2px;
    }

    #menu-exit {
        display: none !important;
    } */
    body {
        grid-template-columns: auto;
        grid-template-rows: 10% 75% 5% 5%;
        grid-template-areas: 
            "logo"
            "form"
            "sos"
            "footer";
        background-color: #eee;
        min-height: 500px;
    }
    
}