@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    padding: .5em;
    margin: 0;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    background-color: #eee;
    background: url('https://source.unsplash.com/2NPV75ItVhg/1400x700') no-repeat center center fixed;
    font-family: Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}

main {
    grid-area: main;
    background: rgba(255, 255, 255, .90);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    border: .1em solid grey;
    margin: 1em auto;
    padding: .5em 3em;
}

.reg-prompt {
    font-style: normal;
    text-align: center;
    font-weight: bold;
    display: block;
    color: #3b5998;

}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

input[type='text'], input[type='password'], input[type='email']  {
    display: block;
    height: 2em;
    width: 90%;
    padding-left: 5px;
    margin: .5em 0 1.5em 0;
}

a.bannr {
    font-weight: bold;
    padding: .5em;
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
    color: #3b5998;
    font-size: 1em;
}

/* Styles for usr-create-acct.html */

input[type='tel'], input[type='date'] {
    display: block;
    height: 1.5em;
    width: 90%;
    border-radius: .5em;
}

textarea {
    width: 90%;
    border-radius: .5em;
}

.btn {
    display: block;
    color: #3b5998;
    padding: .7em;
    margin: 1em auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn:hover {
  
    color: #fff;
    background: #e48d48;
}

.heading {
    display: block;
    font-weight: bold;
    font-size: 120%;
    margin: 1em 0;
}

@media only screen and (max-width: 480px) {
    a.bannr {
        font-weight: bold;
        padding: .2em;
        margin: 5px 0;
        cursor: pointer;
        text-decoration: none;
        color: #3b5998;
        font-size: .5em;
    }
}