body, html{
    height: calc(100% - 2em);
    margin: 0;
}

aside {
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
    background-color: #3b5998;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    /* background-color: #0000CD; */
    color: #fff
}

#menu-bar {
    float: right;
    color: #fff;
    cursor: pointer;
}

.active {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    background: rgba(74, 133, 168, .95);
    margin: 0;
    height: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: aliceblue;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    /* background-color: rgb(255, 255, 255, .35); */
    padding: 1.5em 3em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

nav ul li a:hover {
    background: whitesmoke;
    color: black;
}

/* nav ul li.sos a {
    display: block;
    padding: 1em;
    text-transform: capitalize;
} */

.btn {
    display: block;
    background: #e48d48;
    color: white;
    padding: .1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 40%;
    margin: .5em 0;
    
}

.btn:hover {
    color: #3b5998;
    background-color: whitesmoke;
    border: 1px solid #3b5998;
}

p#lorem {
    padding: 1em;
    line-height: 1.5em;
}

#menu-exit:hover {
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu-exit {
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
}

/* Style for cas-credit.html */
.cta-btn {
    display: block;
    width: 30%;
    margin: 1em auto;
    text-align: center;
    height: 2.0em;
    /* vertical-align: -webkit-baseline-middle; */
}

h2 {
    padding: 0;
    margin: 0;
}

input[type='number'], input[type='text'], input[type='date'] {
    border-radius: 5px;
    height: 1.5em;
    width: 80%;
    padding-left: 5px;
}
/* Styke for stf-del.html */

.del {
    border: .1em solid red;
    display: block;
    color: red;
    padding: .7em;
    margin: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.del:hover {
    background-color: red;
    color: white;
}
/* Style rules for create-bnk-acct.html */

.btn-2 {
    display: block;
    width: 50%;
    margin: .5em auto;
    height: 3em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.heading-2 {
    display: block;
    font-weight: bold;
    font-size: 120%;
    margin: 1em 0;
    color: #3b5998;
}

textarea {
    border-radius: .5em;
    width: 40%;
    padding-left: 5px;
}

main h2 {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
}

div.form-hldr {
    padding: 1em;
    width: 100%;
}

textarea {
    border-radius: .5em;
    width: 80%;
    margin: 0 0 1em 0;
}

@media only screen and (min-width: 480px) {
    body {
        display: grid;
        grid-template-columns: 20% auto;
        /* padding: 2em; */
    }

    aside {
        grid-template-columns: auto;
        grid-template-rows: 30% auto;
        padding: 0;
        /* background-color: red; */
        /* border-right: .1em solid blue; */
        background-color: #3b5998;
    }

    main {
        padding: 1em;
        /* background-color: yellow; */
      
    }

    #avatar {
        border-radius: 50%;
        background: white;
        width: 100px;
        height: 100px;
        margin: 2em auto;
        cursor: pointer;
    }

    figcaption {
        cursor: pointer;
        text-align: center;
        margin: .5em;
        /* background: yellow; */
    }

    nav ul li a {
        text-transform: capitalize;
        display: block;
        padding: 10px;
        text-align: left;
    }

    #menu-exit {
        display: none !important;
    }

    #menu-bar {
        display: none !important;
    }

    .btn {
        margin: 1em 0;
        padding: .1em;
        width: 20%;
    }

    nav ul {
        display: block;
        position: relative !important;
        width: 100% !important;
        /* background: #eee; */
        background-color: rgba(0, 0, 0, 0.4) !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
    }

    /* Style rules for create-bnk-acct.html */

    .btn-2 {
        display: block;
        width: 15%;
        margin: 1em auto;
        height: 2em;
    }

    .heading-2 {
        display: block;
        font-weight: bold;
        font-size: 120%;
        margin: 1em 0;
    }

    textarea {
        border-radius: .5em;
        width: 40%;
        margin-bottom: 2em;
    }

    main h2 {
        padding: 0;
        margin: 0;
    }

    input[type='number'], input[type='text'], input[type='date'] {
        border-radius: 5px;
        height: 1.5em;
        width: 50%;
        padding-left: 5px;
    }

    div.form-hldr {
        margin-left: 2em;
        width: 100%;
    }

    /* nav ul li.sos a {
        display: none !important;
    }

    p.sos {
        display: none;
    } */
}

